ChatLog.db
**/build/CMakeFiles/
**/build/bdist.linux-x86_64
**/build/lib.linux-x86_64-3.10
**/build/temp.linux-x86_64-3.10
**/Linphone_module.egg-info/
**/.vscode
**/__pycache__/
models/
**/dist/
*.prof
**/build/*
*.so
**/env/